@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@700&display=swap');
:root {
    --main-color: #4cab8b;
    /* --main-color: #b49e48 ; */
    /* --main-color: yellow; */
}


.navbar {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: black;
    background-color: #f5f5f5;
}

.navbar-nav .dropdown-menu .dropdown-item:active {
    color: #262626;
    background-color: #f5f5f5;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: var(--main-color);
    background-color: #f5f5f5;
}

.nav-link:hover {
    /* color: black;
     */   
    color: var(--main-color);

}

.navbar-toggler-icon:hover {
    /* color: black; */
    color: var(--main-color);

}

.navbar-toggler-icon {
    color: #525f7f;
}

.navbar-nav .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
}


.nav-link span::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: width .3s;
}

.nav-link:hover span::after {
    width: 100%;
    transition: width .3s;
}

.navbar-brand .logo {
    height: 30px;
    /* animation: 3s ease-in-out */
}

.logo path {
    stroke-width: 3px;
    stroke: #525f7f;
    fill: #525f7f;
}

.underpiclogo {
    margin-top: 2rem;
    height: 55px;
}

@keyframes svg-text-anim {
    40% {
        stroke-dashoffset: 0;
        fill: transparent;
    }

    60% {
        stroke-dashoffset: 0;
        fill: #525f7f;
    }

    100% {
        stroke-dashoffset: 0;
        fill: #525f7f;
    }

}

.pic {
    animation: morphing 3s infinite;
    max-width: 80%;
    width: 400px;
    min-width: 200px;
}


@keyframes morphing {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    }

    25% {
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    }

    50% {
        border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
        box-shadow: -10px -5px 50px rgba(0, 0, 0, 0.2);
    }

    75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    }

    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.2);
    }
}

@keyframes animatepic {
    0% {
        /* border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%; */
        border-radius: 60% 40% 30% 70% / 60% 20% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.part {
    width: 100%;
    min-height: 100vh;

}

.part:nth-child(2n+1) {
    background-color: #f8f8ff;

}

.part:nth-child(2n+1) h3,
.part:nth-child(2n+1) h4,
.part:nth-child(2n+1) h5 {
    color: #525f7f;
}

.part:nth-child(2n) {
    background-color: #ebe9e9;
}

.title {
    font-size: 4rem;
    position: relative;
    /* line-height: 70px; */
    font-weight: 900;
}

.subtitle {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}

.home .icons a {
    font-size: 30px;
    line-height: 1.42857143;
    color: inherit;
    margin: 0 5px;
}




.home .icons {
    text-align: center;
}

.home .icons a:hover {
    color: var(--main-color);


}

.home .icons .titleletter {
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.home .icons .titleletter.rubberletter {
    animation-name: rubberBand;
}

.title .titleletter {
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.title .titleletter:hover {
    color: var(--main-color);
}

.title .titleletter.rubberletter {
    animation-name: rubberBand;
}

.titleletter {
    opacity: 0;
    transition: opacity .3s;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}


/* @media max-width() {

} */
@media only screen and (max-width: 990px) {
    .home {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        padding: 0 20px;

    }

    .home .title {
        font-size: 2rem;
    }
}
.part-title{
    font-size: 24px;
     padding-left: 1.5rem;
     font-family: 'Koh Santepheap', cursive;    padding-top: 1rem;
   color:#4cab8b;
}