.nav-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 50px;
    position: relative;
}

.nav-list {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    background-color: antiquewhite;
}

.nav-logo {
    margin-left: 50px;
    margin-right: 50px;
}

@media (min-width:1048px) {
    .nav-bar {
        position: relative;
        justify-content: space-between;
        height: 50px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        /* box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px; */

    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 40px;
    }

}