nav.navbar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    max-width: 100%;
    z-index: 1000;
    background: var(--bg--secondary);
    box-shadow: .5px 0 10px 0px var(--bg--secondary);

}