.nav-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    cursor: default;
    min-height: 50px;
}

.nav-item:hover {
    background-color: aqua;
}

.nav-item-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
}

.nav-item-text a {
    text-decoration: none;
    color: inherit;
}

.nav-item-text a,
.nav-item-text>span {
    padding-left: 20px;
    width: fit-content;
    display: inline-block;
    display: flex;
    min-height: 50px;
    flex-direction: column;
    justify-content: center;
}

.nav-item-text a:visited,
.nav-item-text a:active {
    color: inherit;
}

.nav-item-text::after {
    content: '';
    height: 3px;
    border-radius: 4px;
    background-color: black;
    position: absolute;
    bottom: -5px;
    width: 0;
    left: 0;
    transition: width .4s;

}

/* .nav-item-text:hover::after {
    width: 100%;
    transition: width .4s;
} */

.nav-item-dropdown {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    background-color: white;
    width: 100%;
    padding: 1rem 0rem;
    border-radius: 4px;
}



.nav-item-dropdown li {
    display: flex;
    height: 45px;
    padding: 2rem;
    align-items: center;
    justify-content: flex-start;
}


.nav-item-dropdown li:hover {
    color: aquamarine;
    background-color: #e0f7ef;
}

.nav-item-text .bottomborder {
    height: 3px;
    border-radius: 4px;
    background-color: black;
    width: 100%;

    transition: width .4s;
}

.nav-item-text:hover .bottomborder {
    width: 100%;
    transition: width .4s;
}

@media (min-width:1048px) {

    .nav-item {
        display: flex;
        min-width: 150px;
        /* background-color: royalblue; */
        margin-left: 20px;
        align-items: center;
        justify-content: center;
        cursor: default;
        position: relative;
    }

    .nav-item-text {
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: center;
        /* width: 100%; */
        position: relative;
    }




    .nav-item-dropdown {
        list-style: none;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 35px;
        right: -28px;
        left: auto;
        /* background-color: aqua; */
        background-color: white;
        width: 200px;
        padding: 1rem 0rem;
        border-radius: 4px;
        box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    }

    .nav-item-dropdown::before {
        content: "";
        position: absolute;
        /* background-color: aqua; */
        background-color: white;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        display: block;
        top: -7px;
        right: 20px;
        left: auto;
        border-radius: 2px;

    }

    .nav-item-dropdown li {
        display: flex;
        height: 45px;
        padding: 2rem;
        align-items: center;
        justify-content: center;
    }


    .nav-item-dropdown li:hover {
        color: aquamarine;
        background-color: #e0f7ef;
    }

}