body.light body {
    --primary: white;
    --secondary: gray;
    --l-green: #57DCBE;
    --d-green: #60C689;
    --l-blue: #57ACDC;
    --d-blue: #276BB0;
    --dd-blue: #272AB0;

}


body.dark {
    --primary: dark;
    --secondary: #232323;
    --l-green: #57DCBE;
    --d-green: #60C689;
    --l-blue: #57ACDC;
    --d-blue: #276BB0;
    --dd-blue: #272AB0;
}